Thumbs.db
temp/*
.metadata
node_modules
.idea/*
.c9
bower_components
build

elven-hot-files
*.hot-update.js*
bundle.js
*.js.map
platforms
babel_cache
components
Thumbs.db
*.apk
*.dex
*.bak
*.geany
foo.sh
foo.txt
resources.ap_
jarlist.cache
geany_run_script.bat
bower_components
coverage
node_modules
MyTempDir
DeleteMe*
*.*~
*~

npm-debug.log
foo.bat

temp/*
.metadata

.idea*

old-midterm/**

**/public/static/**
**/public/precache-manifest.\*.js
**/public/asset-manifest.json
**/public/index.html
**/public/service-worker.js
